<div class="table container">
  <div class="table-header">
    <h4 class="title">Table</h4>
    <button
      (click)="openColumnsSettingsModal()"
      class="btn table-header__open-modal"
      type="text">5 of 5 columns
        <b [ngClass]="{'open': isModalSettingsOpen}"
          class="table-header__open-modal__arr">&nbsp;&#5169;
        </b>
    </button>
  </div>
  <div class="table-body">
    <div class="table__names-wrap">
      <div class="table__names" *ngFor="let name of shownColumnNames | keyvalue">
        <div class="table__names__inner">
          <button class="table__names__text" (click)="sort(name.key)" *ngIf="name.value">{{ name.key | uppercase }}</button>
          <div *ngIf="currSortColumn === name.key" class="table__names__arrow" [ngClass]="currSortType">&nbsp;&#5169;</div>
          <input
            class="table__names__input"
            type="text"
            [formControl]="filterInput" placeholder="Filter results...">
        </div>
      </div>
    </div>
    <div class="table-body__row" *ngFor="let item of data">
      <div class="table-body__row__cell" *ngFor="let row of item | keyvalue">
        <i>{{ row.value }}</i>
      </div>
    </div>
  </div>
  <div class="table-pagination">
    <form [formGroup]="pageGoForm" class="table-pagination__item">
      <label for="perPage" class="table-pagination__item__label">Items per page:</label>
      <input formControlName="itemsPerPage" id="perPage" value="1" type="number" min="1" [max]="this.data?.length || 1">
    </form>
    <div class="table-pagination__item">
      <span>Current page: </span><b>{{ currPage }}</b>
    </div>
    <div class="table-pagination__item-buttons">
      <button class="btn" type="button">prev</button>
      <button class="btn" type="button">next</button>
    </div>
  </div>
  <app-table-columns-settings-modal [ngClass]="{'open': isModalSettingsOpen}"></app-table-columns-settings-modal>
</div>
