.table {
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  border-radius: 5px;
  border: 1px solid var(--lite-grey);
}

.table-header {
  width: 100%;
  box-shadow: var(--box-shadow);
}

.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  color: var(--grey);
}

.table-body__row{
  display: flex;
}

.table-body__row__cell {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid var(--lite-grey);
  border-bottom: 1px solid var(--lite-grey);
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
}

.title {
  padding: 10px;
  margin: 0;
}
